Bedankt voor uw aanmelding bij Scouting St. Ansfridus.

Wij hanteren - helaas - een wachtlijst voor alle leeftijdscategorieen.
Aanmeldigen worden eerst op de wachtlijst geplaatst.
Houd er echter rekening mee dat plaatsing - naar verwachting - op zijn vroegst
pas over een jaar zal plaatsvinden en dan nog alleen als er dan plek is. Wij kunnen helaas niets garanderen.

De door u ingevoerde gegevens:

Naam      : {{ lid.first_name }} {{ lid.last_name }} ({{ lid.geslacht }})
Adres     : {{ lid.straat }}
Postcode  : {{ lid.postcode }}
Woonplaats: {{ lid.woonplaats }}
Telefoon  : {{ lid.telnr }}
E-mail    : {{ lid.email_address }}

De bovengenoemde gegevens worden in een beveiligde database op een separate webserver bewaard.
Uitgebreide informatie betreffende ons privacy beleid kunt u terug vinden op onze website www.ansfridus.nl

Met vriendelijke groet,
Scouting St. Ansfridus

