{% extends 'base.html' %}
{% block navbar %}
   <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Filters</span>
    </h6>

    <ul class="nav flex-column">
        {% for taktag, takname in speltakken %}
            <li class="nav-item">
                <a {% if speltak == taktag %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'ledenlijst' taktag %}">
                    <span data-feather="filter"></span>{{ takname }}
                </a>
            </li>

        {% endfor %}

    </ul>
{% endblock %}
{% block content %}

    <div class="alert alert-info bg-secondary text-white">
        Aantal leden op deze lijst:
        <span class="badge badge-light">{{ count }}</span>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Naam</th>
                <th>Foto Publiek?</th>
                {% if speltak == 'wachtlijst' %}
                	<th>Aangemeld op</th>
                	<th>Speltak</th>
                  <th>Geb Datum</th>
				        {% endif %}
				          <th>Leeftijd</th>
                  <th></th>
                  <th></th>
            </tr>
            </thead>
            <tbody>
            {% for lid in leden %}
			      <tr>
                 <td>{{ lid }}</td>
                 <td>{{ lid.foto }}</td>
					       {% if speltak == 'wachtlijst' %}
						         <td>{{ lid.aanmeld_datum|date:"d-m-Y" }}</td>
						         {% if lid.speltak == 'wachtlijst' %}
                        	<td>{{ lid.wachtlijst_speltak|title }}</td>
                     {% else %}
                        	<td>{{ lid.get_speltak_display }}</td>
                     {% endif %}
                     <td>{{ lid.gebdat}}
                {% endif %}

					<td>{{ lid.age }}</td>




                    {% if perms.LedenAdministratie.change_lid %}
                        <td>
                            <a href="{% url 'lid_edit' lid.pk %}" class="btn-sm btn-success">
                                <span data-feather="edit"></span>
                            </a>
                        </td>
                    {% endif %}
                    {% if perms.LedenAdministratie.delete_lid %}
                        <td>
                            <a href="{% url 'lid_delete' lid.pk %}" class="btn-sm btn-danger">
                                <span data-feather="trash-2"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
